<p style="color: green"><%= notice %></p>

<h1>Registers</h1>

<%= link_to "New register", new_register_path %>

<div id="registers">
  <% @registers.each do |register| %>
    <%= render register %>

    <div>      
      <%= button_to "Delete", register, method: :delete %>
      <%= button_to "Edit", edit_register_path(register), method: :get %>
    </div>

  <% end %>
</div>
